In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

import matplotlib.pyplot as plt

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, classification_report

# from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import ConfusionMatrixDisplay

In [5]:
from imblearn.metrics import classification_report_imbalanced
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import ClusterCentroids
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

# Read the CSV and Perform Basic Data Cleaning

In [6]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [7]:
df = pd.read_csv("clean_loans.cvs")
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,dti,delinq_2yrs,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,27.24,0.0,...,0.0,3.0,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,20.23,0.0,...,0.0,6.0,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,24.26,0.0,...,0.0,4.0,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,31.44,0.0,...,0.0,1.0,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,18.76,0.0,...,0.0,1.0,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0

In [8]:
# # Load the data
# file_path = Path('LoanStats_2019Q1.csv.zip')
# df = pd.read_csv(file_path, skiprows=1)[:-2]
# df = df.loc[:, columns].copy()

# # Drop the null columns where all values are null
# df = df.dropna(axis='columns', how='all')

# # Drop the null rows
# df = df.dropna()

# # Remove the `Issued` loan status
# issued_mask = df['loan_status'] != 'Issued'
# df = df.loc[issued_mask]

# # convert interest rate to numerical
# df['int_rate'] = df['int_rate'].str.replace('%', '')
# df['int_rate'] = df['int_rate'].astype('float') / 100


# # Convert the target column values to low_risk and high_risk based on their values
# x = {'Current': 'low_risk'}   
# df = df.replace(x)

# x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
# df = df.replace(x)

# df.reset_index(inplace=True, drop=True)

# df.head()

# Split the Data into Training and Testing

In [9]:
# Create our features
X = df.drop(columns='loan_status')
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 82 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   dti                         68817 non-null  float64
 8   delinq_2yrs                 68817 non-null  float64
 9   inq_last_6mths              68817 non-null  float64
 10  open_acc                    68817 non-null  float64
 11  pub_rec                     68817 non-null  float64
 12  revol_bal                   68817 non-null  float64
 13  total_acc                   68817 non-null  float64
 14  initial_list_status         68817 non-null  object
 15  out_prncp                   68817 non-null  float64
 16  out_prncp_inv               68817 non-null  float64
 17  total_pymnt                 68817 non-null  float64
 18  total_pymnt_inv             68817 non-null  float64
 19  total_rec_prncp             68817 non-null  float64
 20  total_rec_int               68817 non-null  float64
 21  total_rec_late_fee          68817 non-null  float64
 22  recoveries                  68817 non-null  float64
 23  collection_recovery_fee     68817 non-null  float64
 24  last_pymnt_amnt             68817 non-null  float64
 25  next_pymnt_d                68817 non-null  object
 26  collections_12_mths_ex_med  68817 non-null  float64
 27  policy_code                 68817 non-null  float64
 28  application_type            68817 non-null  object
 29  acc_now_delinq              68817 non-null  float64
 30  tot_coll_amt                68817 non-null  float64
 31  tot_cur_bal                 68817 non-null  float64
 32  open_acc_6m                 68817 non-null  float64
 33  open_act_il                 68817 non-null  float64
 34  open_il_12m                 68817 non-null  float64
 35  open_il_24m                 68817 non-null  float64
 36  mths_since_rcnt_il          68817 non-null  float64
 37  total_bal_il                68817 non-null  float64
 38  il_util                     68817 non-null  float64
 39  open_rv_12m                 68817 non-null  float64
 40  open_rv_24m                 68817 non-null  float64
 41  max_bal_bc                  68817 non-null  float64
 42  all_util                    68817 non-null  float64
 43  total_rev_hi_lim            68817 non-null  float64
 44  inq_fi                      68817 non-null  float64
 45  total_cu_tl                 68817 non-null  float64
 46  inq_last_12m                68817 non-null  float64
 47  acc_open_past_24mths        68817 non-null  float64
 48  avg_cur_bal                 68817 non-null  float64
 49  bc_open_to_buy              68817 non-null  float64
 50  bc_util                     68817 non-null  float64
 51  chargeoff_within_12_mths    68817 non-null  float64
 52  delinq_amnt                 68817 non-null  float64
 53  mo_sin_old_il_acct          68817 non-null  float64
 54  mo_sin_old_rev_tl_op        68817 non-null  float64
 55  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 56  mo_sin_rcnt_tl              68817 non-null  float64
 57  mort_acc                    68817 non-null  float64
 58  mths_since_recent_bc        68817 non-null  float64
 59  mths_since_recent_inq       68817 non-null  float64
 60  num_accts_ever_120_pd       68817 non-null  float64
 61  num_actv_bc_tl              68817 non-null  float64
 62  num_actv_rev_tl             68817 non-null  float64
 63  num_bc_sats                 68817 non-null  float64
 64  num_bc_tl                   68817 non-null  float64
 65  num_il_tl                   68817 non-null  float64
 66  num_op_rev_tl               68817 non-null  float64
 67  num_rev_accts               68817 non-null  float64
 68  num_rev_tl_bal_gt_0         68817 non-null  float64
 69  num_sats                    68817 non-null  float64
 70  num_tl_120dpd_2m            68817 non-null  float64
 71  num_tl_30dpd                68817 non-null  float64
 72  num_tl_90g_dpd_24m          68817 non-null  float64
 73  num_tl_op_past_12m          68817 non-null  float64
 74  pct_tl_nvr_dlq              68817 non-null  float64
 75  percent_bc_gt_75            68817 non-null  float64
 76  pub_rec_bankruptcies        68817 non-null  float64
 77  tax_liens                   68817 non-null  float64
 78  tot_hi_cred_lim             68817 non-null  float64
 79  total_bal_ex_mort           68817 non-null  float64
 80  total_bc_limit              68817 non-null  float64
 81  total_il_high_credit_limit  68817 non-null  float64
dtypes: float64(76), object(6)
memory usage: 43.1+ MB

In [10]:
# Create our target
y = df['loan_status']
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [11]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.052138,2.219423,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.390633,1.897432,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.000000,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,19.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

In [12]:
# get_dummies to transform object dtypes 
X_encoded = pd.get_dummies(X)
X_encoded.shape

(68817, 92)

In [13]:
# Check the balance of our target values
# y['loan_status'].value_counts()

In [14]:
# scale the x_encoded feature matric 
data_scaler = StandardScaler()

In [15]:
# fit and tranform our X_encoded
X_encoded_scaled = data_scaler.fit_transform(X_encoded)
X_encoded_scaled[:1]

array([[-0.60109272,  0.91798436, -0.36555835, -0.1921948 ,  0.27040056,
        -0.30314253, -0.65649151, -0.76165917, -0.37420432, -0.73252183,
        -0.8658573 , -0.58124513, -0.58081958, -0.50046544, -0.50029335,
        -0.3228639 , -0.89960419, -0.03227363,  0.        ,  0.        ,
        -0.17383528, -0.12011247,  0.        ,  0.        , -0.00589695,
        -0.72692228,  1.67997825,  0.2392533 ,  1.19137226,  1.35299632,
        -0.80895603, -0.13418715, -0.45717571, -0.16310175, -0.24864022,
        -0.83203994,  0.12422197, -1.04213361, -0.24758239, -0.59166015,
         0.75578041,  0.37274923, -0.59052419, -0.80915288,  1.04494582,
        -0.07820908, -0.00778953, -0.56994022, -0.7981628 , -0.64845959,
        -0.66313947, -0.8249868 , -0.14674317, -1.10824038, -0.33490355,
        -1.13862411, -1.05103022, -1.27998521, -1.40011594,  0.06599699,
        -1.11347944, -1.31043257, -1.0519437 , -0.75930693,  0.        ,
         0.        , -0.13347217,  0.41138923, -1.12385485,  2.06277933,
        -0.37410344,  0.        , -0.74865495, -0.40321335, -1.03504094,
         0.12293632, -0.0968118 , -1.054078  , -0.34569279,  1.34013488,
        -0.95693996,  1.29377539, -0.41678604, -0.76914635, -0.90648342,
         2.15455915, -0.37602554,  0.37602554, -0.78814271,  0.78814271,
         0.40290386, -0.40290386]])

In [16]:
# from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_encoded_scaled, y, random_state =1)

In [17]:
y_train.value_counts()

low_risk     51366
high_risk      246
Name: loan_status, dtype: int64

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [18]:
# Resample the training data with the BalancedRandomForestClassifier
model =BalancedRandomForestClassifier(n_estimators= 100,random_state =1)
model = model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [19]:
# Calculated the balanced accuracy score
print(f"The balanced accuracy score is: {balanced_accuracy_score(y_test, predictions): 3f}")

The balanced accuracy score is:  0.758950

In [20]:
# Display the confusion matrix
model = confusion_matrix(y_test, predictions)
model

array([[   64,    37],
       [ 1980, 15124]], dtype=int64)

In [25]:
disp = ConfusionMatrixDisplay(confusion_matrix=model, display_labels=classifier.classes_)
disp.plot()

NameError: name 'classifier' is not defined

In [ ]:
# Print the imbalanced classification report
report = classification_report_imbalanced(y_test, predictions)
print("BalancedRandomForestClassifier")
print(report)

In [ ]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE

### Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier
# YOUR CODE HERE

In [ ]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

In [ ]:
# Display the confusion matrix
# YOUR CODE HERE

In [ ]:
# Print the imbalanced classification report
# YOUR CODE HERE